//=============================================
footer {
	margin-top: rem(30);
	// background-color: #343438a7;
	// background: linear-gradient(45deg, rgba(92, 92, 92, 0.44) 0%, rgba(106, 105, 115, 0.44) 50%, rgba(92, 92, 92, 0.44) 100%);
	background-color: $bgDarcContentFone;
	backdrop-filter: blur(20px);
	border-top: 1px solid $border-color-container;
}

.footer {
	padding-top: rem(30);
	padding-bottom: rem(30);


	&__container {
		display: flex;
		// flex-direction: row;
		justify-content:center;
		align-items: center;
		text-align: center;
	}

	&__my-portfolio-wrapper {
		display: flex;
		flex-direction: column;
		// flex: 0 200px;
	}

	&__my-portfolio {
		margin-bottom: rem(10);
		// margin-right: rem(50);
	}
	
	&__my-name {
		color: $colorBtnBorder;
		font-weight: 600;
		// text-shadow: 1px 1px 10px #a996aa;
	}

	&__this-project-wrapper {

	}
	
	&__project-link {
	}

	&__link {
		padding: rem(5);
		// transition: all 0.2s ease 0s;
		&:hover {
			background-color: #565156;
			border-radius: rem(100);
			// transition: all 0.2s ease 0s;
		}
	}

	&__container-social {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: rem(20);
	}
	
	&__social {
		margin-top: rem(10);
		font-size: rem(20);
		padding: rem(5);
		display: flex;
		justify-content:center;
		align-items: center;
		
		&:hover {
			color: #ee958b;
			background-color: #565156;
			border-radius: rem(10);
		}
	}

	&_icon-767544 {
	}

	&_icon-logo-linkedin {
	}

	&_icon-logo-github {
	}

	&_icon-telegram {
	}
}
.button {
}


//====================================================================================================
