// $light: rgba(160, 160, 160, 0.475);
// $shadow: rgba(28, 28, 28, 0.845);

// $box-shadow-bg: 5px 5px 5px $shadow,
// 						-5px -5px 5px $light;
// $box-shadow-footer: 0px 5px 5px $shadow,
// 						0px -5px 5px $light;
// $box-shadow-btn: 3px 3px 3px $shadow,
// -2px -2px 2px $light;
// $box-shadow-btn-hover: 5px 5px 5px $shadow,
// -3px -3px 3px $light;

$border-radius-card: rem(50);
$border-radius-card-md2: rem(35);
$border-radius-card-md3: rem(27);
// $border-radius-footer: rem(50) rem(50) 0 0;
// $border-radius-footer-md2: rem(38.5) rem(38.5) 0 0;
// $border-radius-footer-md3: rem(23.5) rem(23.5) 0 0;
$border-color-container: #484848;

$colorBtn: #865dac;
$colorHoverBtn: #856287;
$colorBtnBorder: #d24f41;

$colorClearBtn: #d24f41;
$colorHoverClearBtn: #b54034;

$colorResultTextTittle: #d9d0f0;

$mainTextColor: #ffffff;

$bgContentFone: rgba(0, 0, 0, 0.2666666667);
$bgDarcContentFone: rgba(37, 37, 37, 0.537);

.tittle {
	@include adaptiveValue("font-size", 48, 24);
	font-size: 3rem;
	font-weight: 600;
	letter-spacing: rem(2);
	color: $mainTextColor;
	text-align: center;
}

.subtittle {
	@include adaptiveValue("font-size", 30, 20);
	@include adaptiveValue("margin-bottom", 50, 20);
	font-weight: 500;
	text-align: center;
}

// input[type=number] {
// 	-moz-appearance: textfield;
// }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.unselectable, .btn, span, label {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Стандартный CSS3 */
}

.btn {
	border-radius: 100vh;
	padding: 0 rem(20);
	line-height: 1.5em;
	display: flex;
	justify-content:center;
	align-items: center;;
	background-color: $colorBtn;
	color: $mainTextColor;
	font-size: 2rem;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: $colorHoverBtn;
		transition: all 0.3s ease 0s;
	}
}

.error-result {
	color: $colorClearBtn;
	line-height: normal;
	font-weight: 600;
	@include adaptiveValue("font-size", 30, 20);
}

.result-render-dbd {
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: $bgContentFone;
	border-radius: rem(20);
	@include adaptiveValue("padding", 20, 10);
	// margin-top: rem(10);
	// transform: scale(0);
}

.tittle-result {
	@include adaptiveValue("font-size", 35, 25);
		font-weight: 800;	
}

.dbd {
	&__table {
		text-align: start;
		display: flex;
		flex-direction: column;
		@include adaptiveValue("font-size", 30, 18);
		margin-top: rem(40);
	}

	&__tittle {
		margin-top: rem(10);
		letter-spacing: rem(3);
}


	&__title-result-wrapper {

		&:nth-child(2n) {
			background: none;
		}
		background-color: $bgDarcContentFone;
		border-radius: rem(15);
		display: flex;
		max-width: rem(800);
		display: flex;
		padding: 0 rem(10);
		
		@media (max-width:$tablet){
			flex-direction: column;
			background: none
		}
	}

	&__column-title {
		padding-right: rem(20);
		line-height: 50px;
		min-width: 11em;
		text-align: end;
		font-weight: 700;
		color: $colorResultTextTittle;

		@media (max-width:$tablet){
			text-align: center;
			background-color: $bgDarcContentFone;
			border-radius: rem(15);
		}
	}

	&__column-result {
		line-height: 50px;
		flex-direction: column;
		margin-bottom: -1px;
		padding: 0 rem(20);

		@media (max-width:$tablet){
			text-align: center;
		}
	}

	&__error-result {
		@include adaptiveValue("font-size", 30, 20);
		line-height: normal;
	}
}

.resultFadeOut {
	animation-name: fadeOut;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
	//   opacity: 0;
	transform: scale(0);
	}
	to {
	//   opacity: 1;
	transform: scale(1);

	}	
}

@keyframes fadeOut {
	from {
	//   opacity: 0;
	transform: scale(1);
	}
	to {
	//   opacity: 1;
	transform: scale(0);

	}	
}

.error-inputs {
	// position: relative;
	animation: blink .3s ease-in-out 5;
	&::placeholder {
		color: $colorBtnBorder;
	}
}

@keyframes blink {
	50% {
	// box-shadow: inset 6px 6px 6px #ffcbcb,
	// 	inset -6px -6px 6px #ffd3c5;
	// background: radial-gradient(50% 50% at 50% 50%, rgb(225, 225, 225) 0%, #D24F41 100%);
	// background: linear-gradient(313.68deg, rgb(217, 217, 217) 0%, #D24F41 102.41%);
	background-color: #f6897d;
	// border: #d24f41 solid 5px;
	transform: scale(1.05);

	transition: all 0.3s ease 0s;
	}
}

.tittle-error-dnone {
	display: none;
	color: $colorClearBtn;
	margin-bottom: rem(20);
	transition: all 0.3s ease 0s;
}
.tittle-error {
	display: block;
	color: $colorClearBtn;
	margin-bottom: rem(20);
	transition: all 0.3s ease 0s;
}

.logo {
	width: 1.5em;
}

.icon {
	height: 1em;
	color: #b54034;
	padding-right: rem(5);
}
.content-here {
	&__wrapper {
		border: rem(1) dashed #c3c3c3;
		background-color: $bgContentFone;
		// min-width: 31vw;
		// min-height: 9.3em;
		width: 100%;
		@include adaptiveValue("padding", 50, 20);
		// width: rem(600);
		border-radius: rem(20);
		display: flex;
		justify-content:center;
		align-items: center;
		animation-name: fadeIn;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
	}

	&__icon {
		// padding: rem(40);
		// @include adaptiveValue("width", 500, 250);
		// stroke: #856287;
		@include adaptiveValue("font-size", 250, 150);
		// color: $bgContentFone;
		color: #c3c3c3;
		image-rendering: optimizeQuality;
	}

}